@import 'https://cdn.jsdelivr.net/npm/water.css@2/out/water.css';

/* 
Do you want to make some adjustments or build your own theme completely
different from the official dark or light themes? Since Water.css is built with
CSS variables this is super easy to do! Here's a list list of all the variables
you can change to your liking:
--background-body
--background
--background-alt
--selection
--text-main
--text-bright
--text-muted
--links
--focus
--border
--code
--animation-duration
--button-hover
--scrollbar-thumb
--scrollbar-thumb-hover
--form-placeholder
--form-text
--variable
--highlight
--select-arrow
*/

:root {
	--accent: rgba(210, 146, 52, 1);
}

nav {
	border-bottom: 4px solid var(--accent);
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--background-body);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
}

nav a {
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
	padding: 16px 32px;
}

nav a:hover {
	text-decoration: none;
	background: var(--accent);
	color: var(--background-body);
}

#page-body {
	padding-top: 64px; /* Compensate for header */
}

 

.article-list-item p {
	color:var(--text-main);
	padding-bottom: 32px;
	border-bottom: 2px solid var(--accent);
}
